<div class="content">
    <div class="inputs">
        <label class="label" for=""><span>#</span>Autor:</label>
        <input type="text" [(ngModel)]="author" name="author" class="input" placeholder="Digite o autor aqui... ">
        <label class="label" for="">Musica:</label>
        <input type="text" [(ngModel)]="music" name="music" class="input" placeholder="Digite a musica aqui...">
        <button class="btn-primary" (click)="registerMusic()">{{ button }}</button>
    </div>
    <div class="table">
        <table>
            <tr class="id">
                <th>Id</th>
                <th>Autor</th>
                <th>Música</th>
                <th>---------</th>
                <th>---------</th>
            </tr>

            <tr *ngFor="let music of musics$ | async">
                <td>{{ music.id }}</td>
                <td>{{ music.author }}</td>
                <td>{{ music.nameMusic }}</td>
                <td><button class="btn att" (click)="fillFields(music)">Atualizar</button></td>
                <td><button class="btn del" (click)="deleteMusic(music.id!)">Deletar</button></td>
            </tr>

        </table>
    </div>
</div>