* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-gray: rgb(18, 18, 18);
  --light-gray: #3c363b;
  --green: rgb(16, 206, 16);
  --border: rgb(53, 51, 51);
}

body {
  background: var(--light-gray);

  font-family: "Segoe UI", sans-serif;
}
